# Dart package files
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter build files
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
flutter_export_environment.sh

# Android specific
android/app/debug.keystore
**/android/*.iml
**/android/captures/

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/ios/*.xcworkspace
**/ios/*.xcodeproj
**/ios/*.xcuserdatad
**/ios/*.xcuserdata

# Visual Studio Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml


package_config.json


keystore-kymscanner.jks
android/keystore.properties
pubspec.lock